{% extends 'layout.twig' %}
{% block title %}Admin panel{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-3">
            {% include '../components/competitions-sidebar.twig' with {competitions: competitions} %}
        </div>
        <div class="col">
            <div class="mb-3 bg-white p-3 text-muted font-weight-light">
                <h4 class="font-weight-light">404 page not found</h4>
                <p>Go to <a href="/">Homepage</a></p>
            </div>

        </div>
    </div>


{% endblock %}