{% extends 'layout.twig' %}
{% block title %}Signup{% endblock %}

{% block content %}

    {% include '../components/flash-messages.twig' with {messages: messages} %}

    <div class="w-25 mx-auto mt-5">
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Full Name"
                       required>
            </div>

            <div class="form-group">
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Email" required>
                <small id="emailHelp" class="form-text text-muted">Register with your name.surname@ringier.rs
                    email</small>
            </div>

            <div class="form-group">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                       required>
            </div>
            <div class="form-group">
                <button type="submit" class="col-12 btn btn-primary">Sign Up</button>
            </div>
            <div class="form-group">
                <a href="/login" type="submit" class="col-12 btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                    </svg> Login</a>
            </div>
        </form>
    </div>

{% endblock %}